@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import "_mixins";
@import "_button";
* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: "RingsideExtraWide-Book, Blank, " Helvetica Neue
    ", Helvetica, sans-serif";
  height: 100%;
  background-color: $bgRed;
  header {
    height: 780px;
    background-color: $headerBg;
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: $mainPadding;
    padding: $mainPadding;
    overflow-y: scroll;
    position: fixed;
    margin-right: $main;
    h1 {
      height: 216px;
      width: 100%;
      color: $red;
      font-size: $titleHeight;
      line-height: $titleHeight;
      text-decoration: none solid $bgRed;
      text-transform: uppercase;
      word-spacing: 0;
      transform: matrix(1, 0, 0, 1, -7.2, 0);
      transition: all 0s ease 0s;
      box-sizing: border-box;
      span {
        display: block;
      }
    }
    .bottom {
      width: 100%;
      height: fit-content;
      p {
        color: $red;
        text-decoration: none solid rgb(231, 71, 60);
        word-spacing: 0px;
        word-break: break-all;
        margin-bottom: 1em;
        &:first-child {
          font-size: 24px;
          line-height: 28.8px;
        }
        &:last-child {
          @include mFont;
          text-indent: -7.5px;
        }
      }
      nav {
        margin-bottom: 2em;
        a {
          @include mFont;
          color: $gray;
          margin-right: 1rem;
        }
      }
      small {
        @include mFont;
        font-size: 0.8rem;
        color: gray;
      }
    }
  }
  main {
    margin-left: $header;
    width: max-content;
    filter {
      z-index: 100;
      position: fixed;
      height: $top;
      width: $main;
      background-color: $bgRed;
      opacity: 0.95;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #831d1651;
      span {
        font-family: RingsideRegularSSm-Book, Blank, "Helvetica Neue", Helvetica,
          sans-serif;
        color: white;
      }
      a {
        color: $brown;
        &:hover {
          color: white;
        }
      }
    }
    container {
      position: absolute;
      top: $top;
      width: $main;
      display: flex;
      flex-direction: column;
      align-content: center;
      scroll-snap-type: y mandatory;
      div {
        scroll-snap-align: center;
        height: 700px;
        width: 100%;
        padding: 3em;
        background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.1),
          transparent
        );
        * {
          color: white;
          display: inline-block;
        }
        span {
          text-indent: -1.5rem;
          font-size: 1.3em;
          &:first-child {
            opacity: 0;
            color: $brown;
            font-size: 1.8em;
            padding-right: 0.8em;
            @include hashtrans;
            transition-delay: 1s;
            &:hover {
              @include hashtrans;
              opacity: 1;
            }
          }
          &:last-child {
            height: 26.8px;
            width: 47.6875px;
            text-align: center;
          }
        }
        h4 {
          font-size: 1.8em;
        }
        iframe {
          width: 100%;
          height: 80%;
          display: block;
          margin-top: 1em;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
